In [1]:
2+1

3

In [2]:
3*5/4

3.75

In [3]:
3+2/3

3.6666666666666665

In [4]:
3%2

1

In [5]:
2**4

16

In [6]:
(8*10)+20

100

In [7]:
0.2+0.1-0.3

5.551115123125783e-17

In [8]:
0.1

0.1

In [9]:
round(0.1,10)

0.1

In [10]:
x = 0.1 + 0.1 + 0.1

print(x == 0.3)
print(x)

False
0.30000000000000004

In [11]:
x = 0.1 + 0.1 + 0.1

print(decimal(x))

NameError: name 'decimal' is not defined

In [12]:
x = 0.1 + 0.1 + 0.1
y = decimal(x)
print(y)

NameError: name 'decimal' is not defined

In [13]:
x = 0.1 + 0.1 + 0.1
y = Decimal(x)
print(y)

NameError: name 'Decimal' is not defined

In [14]:
x = 0.1 + 0.1 + 0.1
print('%.10f'%x)

0.3000000000

In [15]:
1/2

0.5

In [1]:
print('hello \n world')

hello
 world

In [3]:
mystring = ["Hello World"]

In [4]:
mystring[0]

'Hello World'

In [5]:
print(mystring)

['Hello World']

In [8]:
mystring = "Hello World"

In [11]:
mystring

'Hello World'

In [13]:
mystring[-1]

'd'

In [14]:
mystring[:3]

'Hel'

In [15]:
mystring[6:9]

'Wor'

In [16]:
mystring[::]

'Hello World'

In [17]:
mystring[::2]

'HloWrd'

In [18]:
#Reversing a string

In [19]:
#Reversing a string
mystring[::-1]

'dlroW olleH'

In [20]:
'tinker'[1:4]

'ink'

In [1]:
mystring.upper()

NameError: name 'mystring' is not defined

In [5]:
x='Hello World'

In [7]:
x.upper()

'HELLO WORLD'

In [13]:
x = 'Hi this is a string'

In [11]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [15]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [2]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [4]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [5]:
result = 100/177

In [6]:
result

0.5649717514124294

In [8]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.565

In [9]:
name = 'Jose'

In [10]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [11]:
mylist = ('one', 'two', 'three', 'four', 'five')

In [12]:
mylist

('one', 'two', 'three', 'four', 'five')

In [13]:
other_list = ('six')

In [16]:
new_list = mylist + other_list

TypeError: can only concatenate tuple (not "str") to tuple

In [17]:
type(mylist)

tuple

In [3]:
mylist = ['one', 'two', 'three', 'four', 'five']

In [4]:
other_list = ['six']

In [5]:
new_list = mylist + other_list

In [9]:
new_list

['one', 'two', 'three', 'four', 'five']

In [7]:
type(new_list)

list

In [23]:
new_list.pop()

'e'

In [12]:
new_list.pop(-1)

'three'

In [13]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [14]:
new_list.sort()

In [15]:
new_list

['a', 'b', 'c', 'e', 'x']

In [16]:
my_sorted_list = new_list.sort()

In [18]:
type(my_sorted_list)

NoneType

In [20]:
new_list.sort()
my_sorted_list = new_list

In [21]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [3]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [4]:
prices_lookup['apple']

2.99

In [5]:
prices_lookup['apple'] = 'New value'

In [6]:
prices_lookup

{'apple': 'New value', 'oranges': 1.99, 'milk': 5.8}

In [7]:
d = prices_lookup

In [8]:
d

{'apple': 'New value', 'oranges': 1.99, 'milk': 5.8}

In [9]:
d.items()

dict_items([('apple', 'New value'), ('oranges', 1.99), ('milk', 5.8)])

In [10]:
d.values()

dict_values(['New value', 1.99, 5.8])

In [11]:
d['apple'][2]

'w'

In [12]:
d.keys()

dict_keys(['apple', 'oranges', 'milk'])

In [13]:
t= (1,2,'three')

In [14]:
type(t)

tuple

In [15]:
t[-1]

'three'

In [16]:
myset= set()

In [17]:
myset

set()

In [18]:
myset.add(1)

In [19]:
myset

{1}

In [20]:
myset.add(2)

In [21]:
myset

{1, 2}

In [22]:
mylist = [1,1,1,1,2,2,2,3,3,3,3]

In [23]:
set(mylist)

{1, 2, 3}

In [24]:
pwd

'C:\\Users\\arpbhard\\Python'

In [27]:
test.open()

NameError: name 'test' is not defined

In [28]:
test.read()

NameError: name 'test' is not defined

In [29]:
myfile  = open('test.txt')

In [31]:
myfile.read()

''

In [32]:
myfile.seek(0)

0

In [33]:
myfile.read()

'First Line\nSecond Line'

In [34]:
myfile.readlines()

[]

In [39]:
myfile.seek(0)

0

In [36]:
myfile.readlines()

['First Line\n', 'Second Line']

In [37]:
contents = myfile.read()

In [40]:
contents

''

In [41]:
myfile.close()

In [42]:
with open('test.txt') as new_file:
    contents = new_file.read()

In [43]:
contents

'First Line\nSecond Line'

In [50]:
with open('test.txt', mode='r') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [49]:
contents

'First Line\nSecond Line'

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [4]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [5]:
new_list = [(1,2),(3,4),(5,6),(7,8)]

In [6]:
len(new_list)

4

In [7]:
for n in mylist:
    print n

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(n)? (<ipython-input-7-77a35c64c168>, line 2)

In [8]:
for n in new_list:
    print n

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(n)? (<ipython-input-8-6bad1054c310>, line 2)

In [9]:
for n in new_list:
    print (n)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [12]:
for (a,b) in new_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [13]:
d = {'k1':1, 'k2':2, 'k3':3}

In [14]:
for _ in d:
    print(_)

k1
k2
k3

In [19]:
for key,value in d.items():
    print (value)

1
2
3

In [22]:
x = 0

while x < 5:
    x = x + 1
    print(f'x value is {x}')

x value is 1
x value is 2
x value is 3
x value is 4
x value is 5

In [2]:
x = [1,2,3]

for item in x:
    #comment
    pass

In [3]:
mystring = 'Sammy'

In [5]:
for letter in mystring:
    if letter == 'a':
        continue
    print (letter)

S
m
m
y

In [6]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [1]:
a

NameError: name 'a' is not defined

In [2]:
mylist = [1,2,3]

In [3]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [3]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [5]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [6]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [7]:
'x' in mylist1

False

In [8]:
d = {'myeky':234}

234 in d.values()

True

In [10]:
mylist1 = [1,2,3]

min(mylist1)

1

In [11]:
from random import shuffle

In [12]:
mylist1 = [1,2,3,4,5,6,7,8,9,10]

In [13]:
shuffle(mylist1)

In [14]:
mylist1

[4, 2, 1, 6, 9, 7, 3, 10, 8, 5]

In [15]:
randint(0,100)

NameError: name 'randint' is not defined

In [16]:
from random import shuffle

In [17]:
randint(0,100)

NameError: name 'randint' is not defined

In [22]:
Result = int(input('Fav Number: '))

Fav Number: 10

In [23]:
type(Result)

int

In [24]:
mystring = 'hello'

In [25]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [26]:
mylist

['h', 'e', 'l', 'l', 'o']

In [27]:
mylist = [letter for letter in mystring]

In [28]:
mylist

['h', 'e', 'l', 'l', 'o']

In [29]:
mylist = [num for num in range(0,11)]

In [30]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [32]:
mylist

[0, 4, 16, 36, 64, 100]

In [33]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [34]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [1]:
0**0

1

In [2]:
s = 'hello'

In [3]:
s[1]

'e'

In [4]:
s[4:0]

''

In [5]:
s[::2]

'hlo'

In [6]:
s[::-1]

'olleh'

In [7]:
s[::1]

'hello'

In [8]:
s[1:3]

'el'

In [9]:
list = []

In [10]:
list1 = []

In [14]:
list1.append(0)

In [16]:
list1

[0, 0, 0]

In [17]:
s.split()

['hello']

In [19]:
list3 = [1,2,[3,4,'hello']]

In [21]:
list3(2,2) = 'goodbye'

SyntaxError: cannot assign to function call (<ipython-input-21-31092f9cac3c>, line 1)

In [26]:
i = list3.index(4)

ValueError: 4 is not in list

In [25]:
print(i)

0

In [27]:
list3

[1, 2, [3, 4, 'hello']]

In [30]:
list3.items

AttributeError: 'list' object has no attribute 'items'

In [36]:
i = 0

while i < len(list3):
    print(list3[i])
    i+=1

1
2
[3, 4, 'hello']

In [40]:
def add_function(num1, num2):
    return num1 + num2

In [41]:
result = add_function(1,2)

In [42]:
print(result)

3

In [45]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [46]:
say_hello()

Hello Default

In [47]:
20 % 2 == 0

True

In [48]:
def even_check(number):
    result = number % 2 == 0
    return result

In [49]:
even_check(10)

True

In [50]:
even_check(21)

False

In [52]:
def even_check1(number):
    return number % 2 == 0

In [53]:
even_check1(10)

True

In [54]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [55]:
def emp_hours(work_hours):
    
    current_max = 0
    emp_of_month = ''
    
    for employee, hours in work_hours:
        if hours>current_max:
            current_max = hours
            emp_of_month = employee
        else:
            pass
        
    return (emp_of_month,current_max)

In [56]:
emp_hours(work_hours)

('Cassie', 800)

In [57]:
name, hours = emp_hours(work_hours)

In [58]:
name

'Cassie'

In [59]:
hours

800

In [16]:
def myfunc(*args):
    return sum(args)

In [17]:
myfunc(10,200,300)

510

In [10]:
def myfunc2(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
        print(kwargs)
    else:
        print('I did not find any fruit here')

In [11]:
myfunc2(fruit='apple',veggie='lettuce')

My fruit of choice is apple
{'fruit': 'apple', 'veggie': 'lettuce'}

In [12]:
def myfunc3(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [13]:
myfunc3(10,20,30,fruit='orange',food='eggs')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs'}
I would like 10 eggs

In [34]:
def myfuncp(*args):
    k = type(list)
    for i in args:
        if i%2==0:     
            k.append(i)
        else:
            pass
    print(k)

AttributeError: type object 'type' has no attribute 'append'

In [54]:
def myfuncp(*args):
    k = []
    for i in args:
        if i%2==0:     
            k.append(i)
        else:
            pass
    print(k)

In [55]:
myfuncp(10,12,13,-4)

[10, 12, -4]

In [1]:
def myfuncstr(word):
    l=len(word)
    print(l)
    s=''
    _ = 0
    while _ < l-1:
        for c in word:
            s+=(c.upper())
            _ += 2
            print(s)
            continue
        continue
    print(s)

In [2]:
myfuncstr('ketto')

5
K
KE
KET
KETT
KETTO
KETTO

In [3]:
def myfunc(*args):
    k = []
    for i in args:
        if i%2==0:     
            k.append(i)
        else:
            pass
    lista = list(k)
    print(lista)

In [5]:
myfunc(1,2,3,4)

[2, 4]

In [25]:
def myfuncstring(*args):
    s = ''
    p = 0
    #while len(s)<len(args):
    for i in args:
        while p < len(i):
            if p%2==0:
                #return p
                s += i[p].lower()
                #print(args[0])
                #print (s)
                p+=1
                #pass
            else:
                #return p
                s += i[p].upper()
                #print (s)
                p+=1
                #pass
            continue
        return s

In [26]:
myfuncstring('aBCDefG')

'aBcDeFg'

In [27]:
def print_fun():
    print("Geeks","For","Geeks")

In [29]:
print_fun()

Geeks For Geeks

In [7]:
#print lesser of two evens or greater of two numbers
def lesser(a,b):
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b

In [9]:
lesser(2,5)

5

In [27]:
#Write a function takes a two-word string and returns True 
#if both words begin with same letter

def animal_crackers(text):
    if " " in text==True:
        l = text.split()
        if l[0][0] == l[1][0]:
            return True
        else:
            return False

In [28]:
animal_crackers('Giga Genie')

In [29]:
x = "My name is AB Genie"
l = x.split()

In [31]:
l[0][0]

'M'

In [1]:
def lesser_eff(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [4]:
lesser_eff(4,2)

2

In [9]:
#check for twenty
def makes_twenty(a,b):
    if a==20 or b==20:
        return True
    elif a+b==20:
        return True
    else:
        return False

In [12]:
makes_twenty(12,8)

True

In [111]:
#check for twenty
def makes_twenty_eff(a,b):
    
    return (a+b) == 20 or a == 20 or b == 20

In [112]:
makes_twenty_eff(10,10)

True

In [22]:
#Capitalize first and fourth letter of a name
def old_macdonald(name):
    n = list(name)
    print (n)
    n[0] = n[0].upper()
    n[3] = n[3].upper()
    name = "".join(n)
    return name

In [25]:
old_macdonald('macdonald')

['m', 'a', 'c', 'd', 'o', 'n', 'a', 'l', 'd']

'MacDonald'

In [113]:
#Capitalize first and fourth letter of a name
def old_mac_alt(name):
    first_part = name[:3]
    second_part = name[3:]
    
    return first_part.capitalize() + second_part.capitalize()

In [114]:
old_mac_alt('macdonald')

'MacDonald'

In [3]:
#reverse the words of a sentence
def master_yoda(sentence):
    l = sentence.split()
    length = len(l)-1
    #print(length)
    #print(l)
    i = 0
    p = []
    while i < len(l):
        p.append(l[length - i])
        #p.append(" ")
        i += 1
        #print(p)
        #return l
    s = " ".join(p)
    return s

In [4]:
master_yoda('I am king')

'king am I'

In [91]:
def almost_there(num):
    #num = int(number)
    if num >= 90 and num <= 110:
        return True
    elif num >=190 and num <= 210:
        return True
    else:
        return False

In [92]:
almost_there(120)

False

In [5]:
#reverse the words of a sentence
def master_yoda(sentence):
    l = sentence.split()
    length = len(l)-1
    i = 0
    p = []
    while i < len(l):
        p.append(l[length - i])
        i += 1
    s = " ".join(p)
    return s

In [6]:
master_yoda('How are you')

'you are How'

In [117]:
#reverse the words of a sentence
def master_yoda_alt(txt):
    wordlist = txt.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [118]:
master_yoda_alt('I am Human')

'Human am I'

In [46]:
import array

def has_33(sample):
    p = []
    for i in sample:
        if sample[i] == 3:
            p.append(i)
        else:
            continue
        #continue
        print (p)
        for _ in p:
            if sample[_ + 1] == 3:
                return True
            else:
                continue
        return False

In [47]:
has_33([1,3,1,3,3])

[1]

False

In [39]:
x = [1,2,3]

In [40]:
x[1]

2

In [68]:
#Return every character of a string 3 times
def paper_doll(word):
    l = list(word)
    #return l
    p = []
    for i in l:
        p.append(i)
        p.append(i)
        p.append(i)
    new_word = "".join(p)
    print(new_word)

In [11]:
def paper_doll_eff(word):
    result = ''
    
    for char in word:
        result += char*3
    return result

In [12]:
paper_doll_eff('Hello')

'HHHeeellllllooo'

In [98]:
#Given three integers between 1 and 11, 
#if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
#Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    if not (a or b or c)<1 and not (a or b or c)>11:
        total = a+b+c
        if total<=21:
            return total
        elif total>21 and a==11 or b==11 or c==11:
            total -= 10
            if total<21:
                return total
            else:
                print('BUST')
        else:
            print('BUST')
    else:
        print('The values {},{},{} are not in the range'.format(a,b,c))

In [97]:
blackjack(5,6,7)

18

In [99]:
def square(num):
    return num**2

In [100]:
my_nums = [1,2,3,4,5]

In [101]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [102]:
def even(num):
    return num%2==0

In [103]:
mynums = [1,2,3,4,5,6]

In [104]:
for n in filter(even,mynums):
    print(n)

2
4
6

In [106]:
square = lambda num: num ** 2

In [107]:
square(5)

25

In [108]:
list(map(lambda num:num ** 2, mynums))

[1, 4, 9, 16, 25, 36]

In [110]:
list(filter(lambda num: num%2 == 0,mynums))

[2, 4, 6]

In [ ]:
def summer_69(array):
    for _ in array:
        if array[_] == 6:
        continue
            for i in range(len(array)-1):
                if array[i::1]

In [8]:
def has_33(sample):
    p = []
    for i in range(len(sample)-1):
        if sample[i] == 3:
            p.append(i)
        else:
            continue
        print (p)
    for _ in range(len(p)-1):
        if sample[_ + 1] == 3:
            return True        
    return False

In [9]:
has_33([1,3,1,3,3])

[1]
[1, 3]

True

In [12]:
def has_33(sample):
    for i in range(len(sample)-1):
        if sample[i] == 3:
            if sample[i+1] == 3:
                return True
        else:
            continue
    return False

In [5]:
def has_33(sample):
    for i in range(len(sample)-1):
        if sample[i:i+2] == [3,3]:
                return True
    return False

In [6]:
has_33([1,3,1,3,3])

True

In [1]:
#almost there
def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [2]:
almost_there(90)

True

In [1]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [2]:
summer_69([1,3,6,5,9,5])

9

In [2]:
#spy_game if it contains 007 in this order

def spy_game(nums):
    
    boolean = True
    for i in nums:
        while boolean:
            if i == 0:
                break
            else:
                boolean = False
        while not boolean:
            if i == 0:
                boolean = False
                break
            elif i == 7:
                boolean = True
                continue
    return boolean

In [ ]:
spy_game([1,2,4,0,0,7])

In [ ]:
num = [0,0,7,1,2,3]

In [ ]:
num[1]

In [ ]:
spy_game([1,2,4,0,0,7])